
    <!-- inicio Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'TP_FINAL:index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Yerba mate</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Hierbas</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Saquitos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'TP_FINAL:acercaDe' %}">Acerca De</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:monsalvo.h@hotmail.com">Contacto</a>
            </li>
            {% if rol == "admin" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'TP_FINAL:nuevoProducto' %}">Nuevo producto</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" action="{% url 'TP_FINAL:busqueda' %}" method="POST">
            {% csrf_token %}
            <input
              class="form-control me-2"
              type="search"
              placeholder="buscar productos"
              aria-label="Search"
              name="busqueda"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- fin de Menu -->