<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Sobre nosotros</title>
  </head>
  <body>

    {% include "tmp/header.html" %}
    {% include "tmp/menu.html" %}
    <!-- Main -->
    <div class="container mt-4 mb-5">
      <div class="row text-center">
        <div class="col mb-3">
            <h2>Sobre nosotros</h2>
            <p>Radicados en el POLOTIC de posadas, a orilas del imponente rio paraná. Es que fiel a nuestra costumbre de “excelencia y calidad”, hoy envasamos Yerba Mate Compuesta “Jaguarete kaa” con sus cuatro variedades: Compuesta, con Menta, con Peperina y con Hierbas regionales, este producto se abre camino en el amplio conglomerado de marcos nacionales, con grandes expectativas de progreso.</p>

            <p>Nuestra mayor preocupación consiste en la distinción de ofrecerles a nuestros clientes, en el momento justo, un servicio y atención preferencial, personal y acorde a las exigencias de los momentos en que vivimos y que, al mismo tiempo, nos obligan a “hacer cada vez mejor lo que estamos haciendo bien”.</p>
                
            <p>Yerba mate adicionada con hierbas totalmente naturales de la selva misionera, “Jaguarete kaa” surgió con éxito después de un prolongado y exhaustivo estudio de conjunto de sabores e investigación medicinal.</p>
                
            <p>Nos enorgullece decir que “Jaguarete kaa” es la primera yerba mate con palo compuesta con hierbas aromáticas medicinales de nuestra selva misionera, del norte de la gran Republica Argentina.</p>
        </div>
      </div>
    </div>


    <!-- Fin de Main -->

    {% include "tmp/footer.html" %}

    <!-- scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
